# Set to 1 to run using 1 thread
APP_DEBUG=0
# Used for URL generation in downloads
APP_URL=http://localhost
DATABASE_URL=postgres://user:password@localhost/schema
PORT=8080

# GitHub

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Discord

DISCORD_WEBHOOK_URL=
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=

# Config

MAX_MOD_FILESIZE_MB=250

# Globally disables download counting, in the event of abuse
DISABLE_DOWNLOAD_COUNTS=0