[package]
name = "geode-index"
version = "0.28.4"
edition = "2021"

[dependencies]
image = { version = "0.24.8", features = ["png"] }
actix-web = "4.4.1"
anyhow = "1.0.78"
dotenvy = "0.15.7"
env_logger = "0.10.1"
log = "0.4.20"
futures = "0.3.30"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.7.3", features = [
    "postgres",
    "runtime-tokio",
    "chrono",
    "uuid",
    "ipnetwork",
] }
tokio = { version = "1.35.1", features = ["rt", "macros", "rt-multi-thread"] }
reqwest = { version = "0.11.23", features = ["json"] }
uuid = { version = "1.6.1", features = ["v4", "fast-rng", "macro-diagnostics"] }
zip = "0.6"
sha256 = "1.5.0"
semver = "1.0.21"
clap = { version = "4.5.1", features = ["derive"] }
regex = "1.10.3"
chrono = "0.4.34"
actix-cors = "0.7.0"
