[package]
name = "server"
version = "0.1.0"
edition = "2021"

[dependencies]
actix-web = "4.4.1"
anyhow = "1.0.78"
dotenvy = "0.15.7"
env_logger = "0.10.1"
log = "0.4.20"
futures = "0.3.30"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.7.3", features = ["postgres", "runtime-tokio"] }
tokio = { version = "1.35.1", features = ["rt", "macros", "rt-multi-thread"] }
reqwest = { version = "0.11.23", features = ["json"]}
uuid = { version = "1.6.1", features = ["v4", "fast-rng", "macro-diagnostics"]}
zip = "0.6"
sha256 = "1.5.0"
semver = "1.0.21"