name: Build Index

on:
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        target:
          - arch: x86_64
            name: x86_64-unknown-linux-gnu
          - arch: aarch64
            name: aarch64-unknown-linux-gnu

    name: build (${{ matrix.target.arch }} ${{ matrix.target.name }})
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup rust
        uses: ./.github/actions/setup-rust
        with:
          install-arm: ${{ matrix.target.arch == 'aarch64' }}

      - name: Setup cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target.arch }}

      - name: Build ${{ matrix.target.arch }}
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.target.name }}

      - name: Upload ${{ matrix.target.arch }} artifact
        uses: actions/upload-artifact@v4
        with:
          name: geode-index-${{ matrix.target.arch }}
          path: ./target/${{ matrix.target.name }}/release/geode-index
