name: Deploy Index

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        target:
          - arch: x86_64
            name: x86_64-unknown-linux-gnu
          - arch: aarch64
            name: aarch64-unknown-linux-gnu
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup rust
        uses: ./.github/actions/setup-rust

      - name: Setup cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target.arch }}

      - name: Build ${{ matrix.target.arch }}
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.target.name }}

      - name: Upload ${{ matrix.target.arch }} artifact
        uses: actions/upload-artifact@v4
        with:
          name: geode-index-${{ matrix.target.arch }}
          path: ./target/${{ matrix.target.name }}/release/geode-index

  deploy:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download x86_64 artifact
        uses: actions/download-artifact@v4
        with:
          name: geode-index-x86_64
          path: ./artifacts/x86_64

      - name: Download aarch64 artifact
        uses: actions/download-artifact@v4
        with:
          name: geode-index-aarch64
          path: ./artifacts/aarch64

      - name: Create ssh key
        run: |
          install -m 600 -D /dev/null ~/.ssh/id_rsa
          echo "${{ secrets.PRIVATE_KEY }}" > ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.INDEX_SERVER }} > ~/.ssh/known_hosts

      - name: Upload target to server
        id: upload
        run: |
          rsync -avz -e "ssh -p ${{secrets.INDEX_SSH_PORT}} -i ~/.ssh/id_rsa" ./artifacts/x86_64/geode-index ${{ secrets.INDEX_USER }}@${{ secrets.INDEX_SERVER }}:${{ secrets.INDEX_COPY_LOCATION }}
          rsync -avzr -e "ssh -p ${{secrets.INDEX_SSH_PORT}} -i ~/.ssh/id_rsa" ./migrations ${{ secrets.INDEX_USER }}@${{ secrets.INDEX_SERVER }}:${{ secrets.MIGRATIONS_COPY_LOCATION }}

      - name: Run update script
        run: |
          ssh ${{ secrets.INDEX_USER }}@${{ secrets.INDEX_SERVER }} "cd ${{ secrets.INDEX_UPDATE_SCRIPT_PATH }} && ./update.sh"
        if: steps.upload.outcome == 'success'
